* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

html {

    background-image:url('images/bg-tablet-pattern.svg'),url('images/bg-tablet-pattern.svg');
    background-repeat:no-repeat;
    background-position: calc(60vw) -300px , calc(-30vw) 1000px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    width: auto;
    color: hsl(228, 39%, 23%);
}

h4 {
    padding: 25px 0px;
    font-weight: 400;
    text-align: left;
    color: hsl(227, 12%, 61%);
}

header {
    margin-bottom: 50px;
    
}

.Navbar {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    transition: all 0.5s;
    
    .logo {
        justify-self: center;
        align-self: center;
        width: auto;
        height: 20px;
    }


    ul {
        display: inline-flex;
        color: hsl(228, 39%, 23%);
    }

    .burger {
        z-index: inherit;
        height: 22px;
        display: none;
        float: right;
        background-color: none;
        border: none;
        appearance: none;
    }

    li {
        font-weight: 600;
        justify-self: center;
        align-self: center;
        margin: 0px 13px;
        list-style: none;
        font-size: 13px;
        cursor: pointer;

    }

    li:hover {
        color: rgba(0, 0, 0, 0.5);
    }

}

.GSbtn {
    z-index: inherit;
    font-weight: 600;
    float: right;
    border-radius: 25px;
    font-size: 13px;
    background-color: rgb(255, 94, 0);
    width: 160px;
    height: 50px;
    color: white;
    appearance: none;
    border: none;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 7px 20px rgba(206, 58, 0, 0.500);
    cursor: pointer;
    transition: 0.4s;

}

.GSbtn:hover {
    background-color: rgba(255, 94, 0, 0.71);
}



.mobile-nav {
    position: fixed;
    display: block;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.717) 0%, rgba(255, 255, 255, 0) 100%);
    top: 100%;
    transition: 0.5s;
    justify-content: center;

    ul {
        display: block;
        position: relative;
        background-color: rgb(255, 255, 255);
        max-width: auto;
        margin: 62px 20px;
        height: 210px;
        text-align: center;
        top: -1800px;
        transition: 0.5s;
        padding-top: 20px;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.200);
        border-radius: 5px;
        color: hsl(228, 39%, 23%);

    }

    ul.is-active {
        top: 20px;
    }

    li {
        padding-top: 15px;
        list-style: none;
        font-weight: 600;

    }
}

.mobile-nav.is-active {
    top: 0;

}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
    gap: 10px;
}

.main-container .container1 {
    display: inline-flex;
    justify-items: center;
    justify-content: space-between;
    width: 100%;

    .txt {
        flex: 1;
        order: 1;
        justify-content: center;

        .text-sec {

            padding-top: 40px;
            max-width: 585px;
            text-align: left;
    
    
    
            .btn {
                padding: 10px 0;
            }
        }

    }

    .image-sec {
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;

        .image {
            min-width: 300px;
            max-width: 500px;

        }
    }


    

}



.main-container .container2 {
    display: flex;
    justify-content: space-between;
    
    padding: 120px 0px;
    .txt{
        max-width: 585px;
    }
    .bullet-container{
        max-width: 500px;
        padding-left: 40px;
        .bullet-info {
            .bullet {
                font-size: 13px;
                font-weight: 700;
                float: left;
                width: 50px;
                height: 30px;
                color: white;
                background-color: rgb(255, 94, 0);
                text-align: center;
                justify-content: center;
                align-content: center;
                border-radius: 25px;
            }
        
            .label {
                z-index: 100;
                width: auto;
                height: 30px;
                padding-left: 60px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                margin-bottom: 15px;
                font-weight: 700;
                font-size: 13px;
                color: hsl(228, 39%, 23%);
                div{
                    position: relative;
                    top: 7.5px;
                }
            }
        
            .info-container {
                text-align: left;
                padding-left: 80px;
                padding-bottom: 50px;
                color:hsl(227, 12%, 61%);
        
        
            }
        
        }
    }
}



.slider-container {
    user-select: none;
    margin-top: 30px;
    text-align: center;
    width: 20;


    .carousel {
        display: grid;
        grid-auto-flow: column;
        overflow: hidden;
        padding-top: 100px;
        gap: 20px;
        list-style: none;

        .card {
            width: 50vw;
            height: auto;
            background-color: hsl(0, 0%, 98%);
            img {

                width: 80px;
                position: relative;
                top: -40px;
            }

            .text {
                position: relative;
                top: -30px;
                padding: 0 25px;

                h2 {
                    font-size: 20px;
                    color: hsl(228, 39%, 23%);
                }

                h3 {
                    font-size: 15px;
                    font-weight: 500;
                    color: hsl(227, 12%, 61%);
                }
            }
        }
    }
}

.mobile-dot {
    justify-content: center;
    display: none;
    padding: 50px;
    user-select: none;

    .dot {
        background-color: rgba(255, 109, 51, 0);
        border: 1px solid rgb(255, 134, 35);
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s;

    }

    .dot.is-active {
        background-color: rgb(255, 134, 35);
    }
}

.bottom-btn {
    justify-content: center;
    display: flex;
    padding: 100px 0 200px 0;
}

.bottom-banner {
    background-image: url(images/bg-simplify-section-desktop.svg);
    background-color: rgb(255, 98, 30);
    display: flex;
    justify-content: center;
    .banner-container{
        padding: 0 80px;
        max-width: 1200px;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;

        h2 {
            width: 350px;
            font-size: 28px;
            color: white;
            align-content: center;
        }

        .GSbtn {
            background-color: white;
            color: rgb(254, 117, 31);
        }

        .GSbtn:hover {
            color: rgba(254, 116, 31, 0.489);
        }

    }

}

footer{
    background-color: hsl(233, 12%, 13%);
        justify-content: center;
        display: flex;
        padding: 0 80px 0 120px;
        
        .footer-container{
            margin-bottom: 20px;
            width: 100%;
            max-width: 1200px;
            
            display: flex;
            justify-content: space-between;
            padding: 40px 0px 20px 0px;
            
            flex-direction:row;
            .logo-socials{
                align-content: center;
                padding: 20px 0;
                .logo{
                    text-align: center;
                    margin-bottom: 40px;
                    
                    
                }
                .socials{
                    
                    display: flex;
                    justify-content: space-evenly;
                    gap: 5px;
                    padding: 10 0px;
                    
                    

                    svg{
                        
                        path{
                            transition: 0.5s;
                        }
                        &:hover{
                            path{
                                fill:hsl(12, 88%, 59%) ;
                            }
                        }
                    }
                    

                }
                
                
            }
            .links{
                color: white;
                align-self: center;
                display: flex;
                gap: 10vw;
                ul{ 
                    
                    list-style: none;
                    li{
                        cursor: pointer;
                        font-size: 13px;
                        padding: 5px;
                        transition: 0.5s;
                    }
                    li:hover{
                        color: rgb(255, 99, 42);
                    }
                }
            }

            .emailbox{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .section{
                display: flex;
                position: relative;
                top: -20px;
                align-items: center;
                justify-content: center;
                .Em{
                    border-radius: 50px;
                    border: none;
                    border-style: none;
                    outline: none;
                    font-size: 12px;
                    width: 150px;
                    height: 40px;
                    margin-right: 5px;
                    padding: 0 20px;
                    
                }

                .GSbtn{
                    max-width: 80px;
                    height: 40px;
                }
            }
            
            .error{
                color: rgba(0, 0, 0, 0);
                position: relative;
                font-size: 11px;
                bottom: 10px;
                left: 5px;
                transition: 0.5s;
                font-style: italic;

            }
            .copyrightmsg{
                position: relative;
                color:hsla(0, 0%, 98%, 0.618) ;
                font-size: 12px;
                top: 20px;
                left: 80px;
            }
        }
    }
}







@media screen and (max-width: 950px) {

    header{
        margin-bottom: 0;
    }
    
    h1 {
        font-size: 30px;
        text-align: center;
        padding: 0 20px;
    }

    h4 {
        text-align: center;
        padding: 25px 20px;
    }


    .Navbar {
        margin: 20px 10px;
        li {
            display: none;
        }
        .GSbtn {
            display: none;
        }
        .burger {
            display: flex;
            cursor: pointer;
        }
    }

    .main-container{
            padding: 20px;

            .container1 {
            display: flex;
            flex-direction: column;
            padding: 5px;
            gap: 0;

            .image-sec {
                order: 1;
            }

            .txt {
                display: flex;
                order: 2;
            }

            .text-sec {
                

                .btn {
                    display: flex;
                    justify-content: center;
                }
            }
            }


        .container2 {
            flex-direction: column;
            align-items: center;
            min-width: 300px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 0px;

            .label {
                width: auto;
                font-size: 13px;
                margin-bottom: 10px;
                height: 25px;
                background-color: rgba(255, 194, 144, 0.279);
                right: 60px;
            }

            .info-container {
                display: flex;
                height: auto;
                padding: 0px 20px 40px 0px !important;
            }
            .bullet-container{
                padding-left: 0%;
            }
        }
    }

    


    .slider-container {

        .carousel {

            .card {
                width: 100vw;

            }
        }
    }

    .mobile-dot {
        display: flex;
    }

    .bottom-btn {
        padding-bottom: 50px;
        padding-top: 0px;
    }

    .bottom-banner {
            .banner-container{
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 300px;

            h2 {
                width: 250px;
                padding: 0;
                flex: 1;
            }

            .GSbtn {
                margin-bottom: 60px;
                margin-right: 0;
            }
        }
    }



    footer{
        padding: 0 25px;
        height: 580px;
        .footer-container{
            justify-content: space-between;
            flex-direction:column;
            max-width: 500px;
            padding: 50px 0 130px;
            
            .logo-socials{
                padding: 0;
                max-height: 100px;
                flex: 1;
                order: 3;
                .logo{
                    position: relative;
                    top: 110px;
                    
                    img{width:40%;
                    min-width: 200px;
                }
                }
                .socials{
                    position: relative;
                    justify-self: center;
                    top: -50px;
                    margin: 0px;

                    svg{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .links{
                display: flex;
                gap: 20vw;
                order: 2;
                ul{
                    li{
                        font-size: 20px;
                        
                    }
                }
            }
        
            .emailbox{
                width: 100%;
                .section{
                    flex: 1;
                    order: 1;
                    display: inline-flex;
                    .Em{
                        width:50vw;
            
                    }
                    
                    .GSbtn{
                        flex:1;
                        min-width: 80px;
                    }
                }
                .error{
                        position: relative;
                        text-align: center;
                        top: 50px;
                        left: -100px;
                    }
                .copyrightmsg{
                    top: 460px;
                    left: 0;
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .main-container .container2{
        position: relative;
        left: 20px;
        .label{
            width:78vw  !important;
        }
    }
}

@media screen and (min-width: 950px) {
    .mobile-nav {
        display: none
    }
}
